<script>
  import Head from "$lib/components/layout/Head.svelte";
</script>

<Head />

<div class="mt-32">
  <section>
    <h1 class="text-6xl font-bold text-center">Alexis Lours</h1>
    <p class="text-center mt-5">Full-Stack developer from France.</p>
  </section>

  <section class="mt-32">
    <h2 class="text-3xl font-bold">About me</h2>
    <p class="mt-5">
      I'm a developer mostly working with web technologies. I'm currently working as a full-stack
      developer at Etam.
    </p>

    <p class="mt-5">
      I also do wildlife photography as a hobby. You can check out my pictures at <a
        href="https://alexislours.com"
        class="underline decoration-dotted"
        target="_blank"
        rel="noopener noreferrer">alexislours.com</a
      >.
    </p>
  </section>
</div>
